input{
    font-size: 2em;
    font-weight: 300;
    background-color: rgb(87, 166, 249);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    position: relative;
    top: 400px;
    left: 700px;
    width: 200px;
    height: 75px;
}

input:hover{
    background-color: rgb(52, 113, 175)
}
